# Обязательно – система соберёт эти зависимости в окружении Python 3.8
setuptools
numpy
ffmpeg-python
openai-whisper
runpod

# PyTorch и Torchaudio для Python 3.8 + CUDA 11.6/11.7/11.8 (см. --find-links)
torch
torchaudio
--find-links https://download.pytorch.org/whl/cu116

# Аудиодиаризация
pyannote.whisper @ git+https://github.com/b3-v3r/pyannote-whisper.git@main#egg=pyannote-whisper
pyannote.audio
